.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    color: white;
    background-color: #363d32;
    position: relative;
}


.left-h {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.the-best-ad {
    display: flex;
    align-items: center;
    background-color: #2c2f27;
    border-radius: 2rem;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    width: fit-content;
    color: white;
    z-index: 3;
}

.the-best-ad > .the-best-animation {
    position: absolute;
    width: 5rem;
    height: 80%;
    left: 6px;
    background-color: orange;
    border-radius: 3rem;
    z-index: -1;
}


.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    line-height: 1.2;
}

.stroke-text {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.hero-text > div:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 500;
    max-width: 400px;
    color: lightgray;
}


.figures {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.figures > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.figures > div > span:first-child {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.figures > div > span:last-child {
    color: lightgray;
    text-transform: uppercase;
    font-size: 0.9rem;
}


.right-h {
    flex: 1;
    position: relative;
}


.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-buttons > button {
    font-weight: normal;
    padding: 0.5rem 1rem;
}

.hero-buttons > :nth-child(2) {
    color: white;
    background-color: transparent;
    border: 2px solid orange;
    cursor: pointer;
}

.hero-buttons > :nth-child(2):hover {
    background-color: orange;
    color: black;
}


.join-now {
    position: absolute;
    top: 3rem;
    right: 2rem;
}


.heart-rate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #444;
    width: fit-content;
    padding: 1rem;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 6rem;
    right: 2rem;
    z-index: 3;
}

.heart-rate > span {
    color: white;
    font-size: 1rem;
}


.hero-image {
    position: absolute;
    top: 4rem;
    right: 8rem;
    width: 22rem;
    z-index: 1;
}

.hero-image-back {
    position: absolute;
    top: 2rem;
    right: 16rem;
    z-index: -1;
    width: 17rem;
}


.calories {
    display: flex;
    gap: 1rem;
    background-color: rgba(255, 165, 0, 0.2);
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    bottom: 5rem;
    right: 20rem;
    align-items: center;
}

.calories > img {
    width: 3rem;
}

.calories > div {
    display: flex;
    flex-direction: column;
}

.calories > div > :nth-child(1) {
    color: gray;
}

.calories > div > :nth-child(2) {
    color: white;
    font-size: 1.5rem;
}
